<table>

    <tbody>

    <%= link_to "Nowy burger", new_burger_path %>

    <div class="napis">
        Burgery
    </div>
    <tr bgcolor="#111">
        <td>Nazwa i cena</td>
        <td>Skład</td>
        <td>Ilość ocen</td>
        <td>Średnia z ocen</td>
    </tr>
        <% @burgers.order('created_at ASC').each do |burger| %>
            <tr>
                <td><%= burger.name %> (<%= burger.price %>zł)</td>
                <td><%= burger.composition %></td>
                <td><%= burger.how_many_mark %></td>
                <td><%= burger.average %></td>
                 <td><%= link_to "Usuń", burger_path(burger), method: :delete, data: {confirm: "Jesteś pewien, że chcesz usunąć burgera: #{burger.name}"}%></td>
                <td><%= link_to "Edytuj", edit_burger_path(burger) %></td>
                
            </tr>
        <% end %>
        
    </tbody>
</table>
