<html lang="pl">
	<head>
		<meta name="description" content="Strona internetowa Barn Burger">
		<meta name="keywords" content="Barn, Burger, Burgery, Burgers, Warszawa, Warsaw, Najlepszy burger, Najlepsze burgery, The best burger, The best burgers">
		<meta name="author" content="IdeasFactory.pl Rafał Petryka">
		<meta http-equiv="refresh" content="3600">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<title>Barn Burger® &#127828; Warszawa ul. Złota 9</title>
		<script type="text/javascript" src="assets/jquery-2.1.1.js"></script>
		
		<script type="text/javascript" src="assets/lightbox.min.js"></script>
		
		<script type="text/javascript" src="rating/starrating.js"></script>
		<script type="text/javascript" src="assets/jquery.stellar.min.js"></script>
		<script type="text/javascript" src="assets/waypoints.js"></script>
		<script type="text/javascript" src="assets/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="assets/main.js"></script>
		<script type="text/javascript" src="assets/gallery.js"></script>
		<script type="text/javascript" src="assets/notify.min.js"></script>
<style>
.notifyjs-dark-base{
	white-space: nowrap;
			background-color: rgba(0, 0, 0, .5);
			padding: 5px;
			border-radius: 5px;
			color: white;
			font-family: DKCrayonCrumble;
			font-size: 4vh;
			padding: 10px;
			padding-bottom: 0px;
			transition: all .7s;
}
.notifyjs-dark-base:hover{
	background-color: rgba(0, 0, 0, .9);
}

</style>
		<link rel="stylesheet" type="text/css" href="assets/reset.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/starrating.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/lightbox.css">
		<!-- <link rel='stylesheet' media='screen and (max-width: 640px)' href='assets/small.css'> -->
		<link rel='stylesheet' media='screen and (min-width: 1px) and (max-width: 620px)' href='assets/small.css'>
		<link rel='stylesheet' media='screen and (min-width: 620px) and (max-width: 849px)' href='assets/medium.css'>
		<link rel='stylesheet' media='screen and (min-width: 850px)' href='assets/large.css'>
		<!-- <link rel='stylesheet' href='assets/large.css'> -->
		<link rel="shortcut icon" href="favicon_transparent.ico" type="image/icon">
		<link rel="icon" href="favicon.ico" type="image/icon">
	
<script>
	function flash_message(text){
		$.notify.addStyle('dark', {
			html: "<div><span data-notify-text/></div>",
			classes: {
			base: {}
		}
	});
	text=text.replace("&amp;", "&");
	$.notify(text, {autoHide: false, className: 'info', globalPosition: 'bottom left', autoHideDelay: 10000, showAnimation: 'slideDown', showDuration: 1000, style: 'dark'});
	}
</script>
	</head>
	<body>
		<!-- 		<?php 
			// include update.php
			include_once 'update.php';
			// get all data from tabel
			$arr_star = fetchStar();
			?> -->
		<!--do facebooka-->
		<script>
			(function(d, s, id) {
			    var js, fjs = d.getElementsByTagName(s)[0];
			    if (d.getElementById(id)) return;
			    js = d.createElement(s);
			    js.id = id;
			    js.src = "//connect.facebook.net/pl_PL/all.js#xfbml=1";
			    fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		<!--koniec faceboka-->
		<div class="main">
			<div class="slide" id="home" data-slide="1" data-stellar-background-ratio="1">
				<nav>
					<ul class="navigation">
						<li data-slide="1"><a href="#">Home</a>
						</li>
						<li data-slide="2"><a href="#">Menu</a>
						</li>
						<li data-slide="3"><a href="#">Galeria</a>
						</li>
						<li data-slide="4"><a href="#">Pasibrzuch</a>
						</li>
						<li data-slide="5"><a href="#">Kontakt</a>
						</li>
						<div class="link">
							<a href="http://facebook.com/BarnBurger" target="_blank">Facebook</a>
							<a href="http://pasibrzuch.barnburger.pl" target="_blank">Pasibrzuch</a>
							<a href="http://mistrzostwa.barnburger.pl" target="_blank">Mistrzostwa</a>
						</div>
					</ul>
				</nav>
				<a href="http://en.barnburger.pl" target="_blank" id="english_version"><img src="assets/en.jpg"></a>
				<img src="assets/logo.png" id="home-logo" alt="logo">
				<% unless flash.blank? %>
						<% flash.each do |key, value| %>
							<script>
								var val = "<%= value %>";
								flash_message(val);
							</script>
				    	<% end %>
				<% end %> 
				<div class="prawdziwa-historia">
					<div class="tytul">Prawdziwa historia</div>
					<p>Wszystkie burgery przygotowujemy codziennie na miejscu ze świeżo mielonej sezonowanej wołowiny najwyższej jakości rasy <span>Charolais</span>. Nasze bułki wzbogacone są błonnikiem. Do burgerów dorzucamy własny sos BBQ, salsę fresca, fryty oraz sałatkę Colesław. Steki kroimy z dojrzewającej wołowiny rasy <span>Hereford</span>. Domowej roboty fryty smażymy na oleju – NIE FILTRUJEMY – my go wymieniamy. Po prostu… A dodatkowo mamy soft taco z wołowiną lub kurczakiem</p>
				</div>
				<div class="aktualnosci">
					<div class="tytul">Aktualności</div>
					<ul>
						<% i = 0 %>

						<% @news.order('date DESC').each do |news| %>
							<% if i<4 %>
							<% if news.text_with_link != nil %>
								<%if news.date.to_i <= DateTime.now.to_i %>

									<li><%= news.text_with_link.html_safe %></li>
									<% i+=1 %>
								<% end %>
							<% end %>
							<% end %>
						<% end %>
					</ul>
				</div>
				<a class="button" data-slide="2" title=""></a>
			</div>
			<div class="slide" id="menu" data-slide="2" data-stellar-background-ratio="0.5">
				<div class="menu-napis" id="odstep">Menu</div>
				<div class="menu-1">
					<div class="odstep">
						<% how_many_burgers_in_first_column = 0 %>
						<% @burgers.order('created_at ASC').each do |burgers| %>
							<% if how_many_burgers_in_first_column < (@burgers.count / 2)+1 %>
								<p><%= burgers.name %> (<%= burgers.price %>zł)</p>
								<ul class='star-rating' id="star-rating-1">
									<li class="current-rating" id="current-rating" style="width:<%= burgers.average*25 %>px"></li>
									<%= form_for burgers do |f|  %>
										<li><%= f.submit "1", class: "one-star", name: "one_star" %></li>
										<li><%= f.submit "2", class: "two-star", name: "two_star" %></li>
										<li><%= f.submit "3", class: "three-star", name: "three_star" %></li>
										<li><%= f.submit "4", class: "four-star", name: "four_star" %></li>
										<li><%= f.submit "5", class: "five-star", name: "five_star" %></li>
									<% end %>
								</ul>
								<%= burgers.composition %>
								<% how_many_burgers_in_first_column += 1 %>
							<% end %>
						<% end %>
					</div>
				</div>
				<div class="menu-2">
					<div class="odstep">
						<% how_many_burgers_in_second_column = 0 %>
						<% @burgers.order('created_at ASC').each do |burgers| %>
							<% if how_many_burgers_in_first_column <= how_many_burgers_in_second_column %>
								<p><%= burgers.name %> (<%= burgers.price %>zł)</p>
								<ul class='star-rating' id="star-rating-1">
									<li class="current-rating" id="current-rating" style="width:<%= burgers.average*25 %>px"></li>
									<%= form_for burgers do |f|  %>
										<li><%= f.submit "1", class: "one-star", name: "one_star" %></li>
										<li><%= f.submit "2", class: "two-star", name: "two_star" %></li>
										<li><%= f.submit "3", class: "three-star", name: "three_star" %></li>
										<li><%= f.submit "4", class: "four-star", name: "four_star" %></li>
										<li><%= f.submit "5", class: "five-star", name: "five_star" %></li>
									<% end %>
								</ul>
								<%= burgers.composition %>
							<% end %>
							<% how_many_burgers_in_second_column += 1 %>
						<% end %>
					</div>
				</div>
				<% i = 0 %>
				<% @limited_burger.order('date DESC').each do |limited_burger| %>
					<% if i == 0 %>
						<% if limited_burger.date.to_i <= DateTime.now.to_i %>
							<div class="sezonowe-napis">
								Edycja limitowana
								<div class="sezonowe-napis data">od <%= limited_burger.date_on_website.strftime("%e") %>
								<% @month = limited_burger.date_on_website.strftime("%m") %>
								<% if @month == "01" %>Stycznia
								<% elsif @month == "02" %>Lutego
								<% elsif @month == "03" %>Marca
								<% elsif @month == "04" %>Kwietnia
								<% elsif @month == "05" %>Maja
								<% elsif @month == "06" %>Czerwca
								<% elsif @month == "07" %>Lipca
								<% elsif @month == "08" %>Sierpnia
								<% elsif @month == "09" %>Września
								<% elsif @month == "10" %>Października
								<% elsif @month == "11" %>Listopada
								<% elsif @month == "12" %>Grudnia
								<% end %>
								</div>
							</div>
							<div class="menu-1b">
								<div class="ostep">
									<p><%= limited_burger.name1 %> (<%= limited_burger.price1 %>zł)</p>
									<?php  include_once 'rating/19.php'; ?>
									<%= limited_burger.composition1 %>
								</div>
							</div>
							<div class="menu-2b">
								<div class="odstep">
									<p><%= limited_burger.name2 %> (<%= limited_burger.price1 %>zł)</p>
									<?php  include_once 'rating/19.php'; ?>
									<%= limited_burger.composition2 %>
								</div>
							</div>
							<% i += 1 %>
						<% end %>
					<% end %>
				<% end %>
				</div>
			</div>
			<div class="slide" id="galeria" data-slide="3" data-stellar-background-ratio="0.5">
				<div class="galeria-napis">Galeria</div>
				<div class="galeria-1">
					<div class="tytul">Menu</div>
					<a href="assets/slide3/menu/01.jpg" data-lightbox="menu">
						<div id="zdjecia1">
							<img class="active" src="assets/slide3/menu/min/01.jpg" alt="">
							<img src="assets/slide3/menu/min/02.jpg" alt="">
							<img src="assets/slide3/menu/min/03.jpg" alt="">
						</div>
					</a>
					<a href="assets/slide3/menu/02.jpg" data-lightbox="menu"></a>
					<a href="assets/slide3/menu/03.jpg" data-lightbox="menu"></a>
					<a href="assets/slide3/menu/04.jpg" data-lightbox="menu"></a>
					<a href="assets/slide3/menu/05.jpg" data-lightbox="menu"></a>
					<a href="assets/slide3/menu/06.jpg" data-lightbox="menu"></a>
					<a href="assets/slide3/menu/07.jpg" data-lightbox="menu"></a>
					<a href="assets/slide3/menu/08.jpg" data-lightbox="menu"></a>
					<a href="assets/slide3/menu/09.jpg" data-lightbox="menu"></a>
					<a href="assets/slide3/menu/10.jpg" data-lightbox="menu"></a>
					<a href="assets/slide3/menu/11.jpg" data-lightbox="menu"></a>
					<a href="assets/slide3/menu/12.jpg" data-lightbox="menu"></a>
					<a href="assets/slide3/menu/13.jpg" data-lightbox="menu"></a>
					<a href="assets/slide3/menu/14.jpg" data-lightbox="menu"></a>
				</div>
				<div class="galeria-2">
					<div class="tytul">Lokal</div>
					<a href="assets/slide3/lokal/01.jpg" data-lightbox="lokal">
						<div id="zdjecia2">
							<img class="active" src="assets/slide3/lokal/min/01.jpg" alt="">
							<img src="assets/slide3/lokal/min/02.jpg" alt="">
							<img src="assets/slide3/lokal/min/03.jpg" alt="">
						</div>
					</a>
					<a href="assets/slide3/lokal/02.jpg" data-lightbox="lokal"></a>
					<a href="assets/slide3/lokal/03.jpg" data-lightbox="lokal"></a>
					<a href="assets/slide3/lokal/04.jpg" data-lightbox="lokal"></a>
					<a href="assets/slide3/lokal/05.jpg" data-lightbox="lokal"></a>
					<a href="assets/slide3/lokal/06.jpg" data-lightbox="lokal"></a>
					<a href="assets/slide3/lokal/07.jpg" data-lightbox="lokal"></a>
					<a href="assets/slide3/lokal/08.jpg" data-lightbox="lokal"></a>
					<a href="assets/slide3/lokal/09.jpg" data-lightbox="lokal"></a>
				</div>
				<div class="galeria-3">
					<div class="tytul">Mistrzostwa</div>
					<a href="assets/slide3/mistrzostwa/01.jpg" data-lightbox="mistrzostwa">
						<div id="zdjecia3">
							<img class="active" src="assets/slide3/mistrzostwa/min/01.jpg" alt="">
							<img src="assets/slide3/mistrzostwa/min/02.jpg" alt="">
							<img src="assets/slide3/mistrzostwa/min/03.jpg" alt="">
						</div>
					</a>
					<a href="assets/slide3/mistrzostwa/02.jpg" data-lightbox="mistrzostwa"></a>
					<a href="assets/slide3/mistrzostwa/03.jpg" data-lightbox="mistrzostwa"></a>
					<a href="assets/slide3/mistrzostwa/04.jpg" data-lightbox="mistrzostwa"></a>
					<a href="assets/slide3/mistrzostwa/05.jpg" data-lightbox="mistrzostwa"></a>
					<a href="assets/slide3/mistrzostwa/06.jpg" data-lightbox="mistrzostwa"></a>
					<a href="assets/slide3/mistrzostwa/07.jpg" data-lightbox="mistrzostwa"></a>
					<a href="assets/slide3/mistrzostwa/08.jpg" data-lightbox="mistrzostwa"></a>
					<a href="assets/slide3/mistrzostwa/09.jpg" data-lightbox="mistrzostwa"></a>
					<a href="assets/slide3/mistrzostwa/10.jpg" data-lightbox="mistrzostwa"></a>
					<a href="assets/slide3/mistrzostwa/11.jpg" data-lightbox="mistrzostwa"></a>
					<a href="assets/slide3/mistrzostwa/12.jpg" data-lightbox="mistrzostwa"></a>
					<a href="assets/slide3/mistrzostwa/13.jpg" data-lightbox="mistrzostwa"></a>
					<a href="assets/slide3/mistrzostwa/14.jpg" data-lightbox="mistrzostwa"></a>
					<a href="assets/slide3/mistrzostwa/15.jpg" data-lightbox="mistrzostwa"></a>
					<a href="assets/slide3/mistrzostwa/16.jpg" data-lightbox="mistrzostwa"></a>
					<a href="assets/slide3/mistrzostwa/17.jpg" data-lightbox="mistrzostwa"></a>
					<a href="assets/slide3/mistrzostwa/18.jpg" data-lightbox="mistrzostwa"></a>
					<a href="assets/slide3/mistrzostwa/19.jpg" data-lightbox="mistrzostwa"></a>
					<a href="assets/slide3/mistrzostwa/20.jpg" data-lightbox="mistrzostwa"></a>
					<a href="assets/slide3/mistrzostwa/21.jpg" data-lightbox="mistrzostwa"></a>
					<a href="assets/slide3/mistrzostwa/22.jpg" data-lightbox="mistrzostwa"></a>
					<a href="assets/slide3/mistrzostwa/23.jpg" data-lightbox="mistrzostwa"></a>
					<a href="assets/slide3/mistrzostwa/24.jpg" data-lightbox="mistrzostwa"></a>
					<a href="assets/slide3/mistrzostwa/25.jpg" data-lightbox="mistrzostwa"></a>
					<a href="assets/slide3/mistrzostwa/26.jpg" data-lightbox="mistrzostwa"></a>
					<a href="assets/slide3/mistrzostwa/27.jpg" data-lightbox="mistrzostwa"></a>
					<a href="assets/slide3/mistrzostwa/28.jpg" data-lightbox="mistrzostwa"></a>
				</div>
			</div>
			<div class="slide" id="pasibrzuch" data-slide="4" data-stellar-background-ratio="0.5">
				<div class="pasibrzuch-napis">Pasibrzuch</div>
				<div class="pasibrzuch-text">Chcesz zmierzyć się z BYPASSEM, a dodatkowo wygrać atrakcyjna nagrodę? Dołącz do ponad 100 pasibrzuchów, wejdź na <a href="http://www.pasibrzuch.barnburger.pl" target="_blank">pasibrzuch.barnburger.pl</a>, zapoznaj się z regulaminem i aktualnym rekordem</div>
			</div>
			<div class="slide" id="kontakt" data-slide="5" data-stellar-background-ratio="0.5">
				<div class="kontakt-napis">Kontakt</div>
				<div class="kontakt-text">
					<p>Godziny otwarcia</p>
					Pon-Pt: 12<sup>00</sup>-22<sup>00</sup> <span>(grillujemy do 21:30)</span>
					<br>Sob: 13<sup>00</sup>-22<sup>00</sup> <span>(grillujemy do 21:30)</span>
					<br>Nd: 13<sup>00</sup>-21<sup>00</sup> <span>(grillujemy do 20:30)</span>
					<p>Adres</p>
					Warszawa ul. Złota 9
					<br>Tel.: <a href="tel:888222750">888 222 750</a>
					<br><a href="mailto:barnburger@barnburger.pl">barnburger@barnburger.pl</a>
					<br>
					<div class="fb-like" data-href="http://www.facebook.com/barnburger" data-send="true" data-width="400" data-show-faces="true" data-font="arial" data-colorscheme="dark"></div>
				</div>
				<div class="kontakt-mapka">
					<p>Mapka</p>
				    <div id="mapa-box" style="float:left;width:100%;height:50vh;"></div>
					<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
					<script type="text/javascript"> 
					initialize();
					  function initialize() {
					  var myLatlng = new google.maps.LatLng(52.232710, 21.011438);
					  var mapOptions = {
					    zoom: 16,
					    center: myLatlng,
					    scrollwheel:true,
					    styles: [{"stylers":[{"hue":"#ff8800"},{"gamma":0.4}]}],
					    mapTypeId: google.maps.MapTypeId.ROADMAP
					  }
					 
					  var map = new google.maps.Map(document.getElementById('mapa-box'), mapOptions);
					 
					  var infowindow = new google.maps.InfoWindow({
					      content: '<div style="width:170px; height:70px">Barn Burger<br>ul. Złota 9<br>Warszawa<br>tel.: 888 222 750<br><a href="http://facebook.com/BarnBurger" target="_blank">facebook.com/BarnBurger</a></div>'
					  });
					  var image = 'http://barnburger.pl/img/mapslogo.png';
					  var marker = new google.maps.Marker({
					      position: myLatlng,
					      map: map,
					      icon: image,
					      title: 'Barn Burger'
					  });
					  google.maps.event.addListener(marker, 'click', function() {
					    infowindow.open(map,marker);
					  });
					}
					 
					google.maps.event.addDomListener(window, 'load', initialize);
					</script>
<!-- 					<iframe src="https://maps.google.pl/maps?f=q&amp;source=s_q&amp;hl=pl&amp;geocode=&amp;q=Barn+Burger&amp;aq=&amp;sll=52.232978,21.011438&amp;sspn=0.007688,0.021136&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;ll=52.232978,21.011438&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A&amp;output=embed"></iframe> -->
				</div>
				<a class="button last" data-slide="1" title=""></a>
			</div>
		</div>
		<a href="http://ideasfactory.pl" target="_blank" id="ideasfactory">© IdeasFactory.pl</a>
	</body>
</html>