<html lang="pl">
	<head>
		<meta name="description" content="Strona internetowa Barn Burger">
		<meta name="keywords" content="Barn, Burger, Burgery, Burgers, Warszawa, Warsaw, Najlepszy burger, Najlepsze burgery, The best burger, The best burgers">
		<meta name="author" content="IdeasFactory.pl Rafał Petryka">
		<meta http-equiv="refresh" content="3600">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<title>Barn Burger® &#127828; Warszawa ul. Złota 9</title>
		<script type="text/javascript" src="/assets/jquery-2.1.1.js"></script>
		<script type="text/javascript" src="/assets/lightbox.min.js"></script>
		<script type="text/javascript" src="/assets/jquery.stellar.min.js"></script>
		<script type="text/javascript" src="/assets/waypoints.js"></script>
		<script type="text/javascript" src="/assets/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="/assets/main.js"></script>
		<script type="text/javascript" src="/assets/gallery.js"></script>
		<script type="text/javascript" src="/assets/notify.min.js"></script>
		<script type="text/javascript" src="/assets/jquery.cookiesdirective.js"></script>
		<style>
		.notifyjs-dark-base{
			white-space: nowrap;
			background-color: rgba(0, 0, 0, .5);
			padding: 5px;
			border-radius: 5px;
			color: white;
			font-family: DKCrayonCrumble;
			font-size: 4vh;
			padding: 10px;
			padding-bottom: 0px;
			transition: all .7s;
		}
		.notifyjs-dark-base:hover{
			background-color: rgba(0, 0, 0, .9);
		}
		.notifyjs-datk-base span{
			color: white;
		}
		input[type='submit'] { 
        	font-family: DKCrayonCrumble;
        	font-size:13pt;
        	height: 22px;
        }
		</style>
		<link rel="stylesheet" type="text/css" href="/assets/reset.css" media="screen">
		<link rel="stylesheet" type="text/css" href="/assets/starrating.css" media="screen">
		<link rel="stylesheet" type="text/css" href="/assets/lightbox.css">
		<!-- <link rel='stylesheet' media='screen and (max-width: 640px)' href='/assets/small.css'> -->
		<link rel='stylesheet' media='screen and (min-width: 1px) and (max-width: 620px)' href='/assets/small.css'>
		<link rel='stylesheet' media='screen and (min-width: 620px) and (max-width: 849px)' href='/assets/medium.css'>
		<link rel='stylesheet' media='screen and (min-width: 850px)' href='/assets/large.css'>
		<!-- <link rel='stylesheet' href='/assets/large.css'> -->
		<link rel="shortcut icon" href="/favicon_transparent.ico" type="image/icon">
		<link rel="icon" href="/favicon.ico" type="image/icon">	
		<script>
			function flash_message(text){
				$.notify.addStyle('dark', {
					html: "<div><span data-notify-text/></div>",
					classes: {
					base: {}
				}
			});
			text=text.replace("&amp;", "&");
			$.notify(text, {autoHide: true, className: 'info', globalPosition: 'bottom left', autoHideDelay: 10000, showAnimation: 'slideDown', showDuration: 1000, style: 'dark'});
			}
			function add_to_favourite_burger(name){
				if (document.cookie.indexOf(name.replace(",", ""))!=-1){
					document.cookie = "fav_"+name.replace(",", "")+"="+"-1";
				}else{
					document.cookie = "fav_"+name.replace(",", "")+"="+"1";
					$(name.replace(",", "")).slideDown(function() {
					    setTimeout(function() {
					        $(name.replace(",", "")).slideUp();
					    }, 5000);
					});
				}
			}
		</script>
	</head>
	<body>
	<div id="eantics"></div>
	<script type="text/javascript">
	// Using $(document).ready never hurts
	$(document).ready(function(){

		// Cookie setting script wrapper
		var cookieScripts = function () {
			// Internal javascript called
			console.log("Running");
		}
		
		$.cookiesDirective({
			// privacyPolicyUri: 'myprivacypolicy.html',
			explicitConsent: false,
			position : 'bottom',
			scriptWrapper: cookieScripts, 
			// cookieScripts: 'Google Analytics, My Stats Ultimate ', 
			backgroundColor: '#000',
			linkColor: '#ffffff'
		});
	});
	</script>

		<!--do facebooka-->
		<script>
			(function(d, s, id) {
			    var js, fjs = d.getElementsByTagName(s)[0];
			    if (d.getElementById(id)) return;
			    js = d.createElement(s);
			    js.id = id;
			    js.src = "//connect.facebook.net/pl_PL/all.js#xfbml=1";
			    fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		<!--koniec faceboka-->
		<div class="main">
			<div class="slide" id="home" data-slide="1" data-stellar-background-ratio="1">
				<nav>
					<ul class="navigation">
						<li data-slide="1"><a href="#"><%= (I18n.locale.to_s == "pl") ? "Start" : "Home" %></a>
						</li>
						<li data-slide="2"><a href="#">Menu</a>
						</li>
						<li data-slide="3"><a href="#"><%= (I18n.locale.to_s == "pl") ? "Galeria" : "Gallery" %></a>
						</li>
						<li data-slide="4"><a href="#">Pasibrzuch</a>
						</li>
						<li data-slide="5"><a href="#"><%= (I18n.locale.to_s == "pl") ? "Kontakt" : "Contact" %></a>
						</li>
						<div class="link">
							<a href="http://facebook.com/BarnBurger" target="_blank">Facebook</a>
							<a href="http://pasibrzuch.barnburger.pl" target="_blank">Pasibrzuch</a>
							<a href="http://mistrzostwa.barnburger.pl" target="_blank"><%= (I18n.locale.to_s == "pl") ? "Mistrzostwa" : "Championships" %></a>
						</div>
					</ul>
				</nav>
				<br><br><br>
				<div class="english_version">
				<%= link_to image_tag('en.jpg'), "http://localhost:3000/?locale=en", locale: "en" %>
				<%= link_to image_tag('pl.jpg'), "http://localhost:3000/?locale=pl", locale: "pl" %>
				</div>
				<!-- <%= link_to_unless_current "Polski", locale: "pl" %> -->
				<img src="/assets/logo.png" id="home-logo" alt="logo">
				<% unless flash.blank? %>
						<% flash.each do |key, value| %>
							<script>
								var val = "<%= value %>";
								flash_message(val);
							</script>
				    	<% end %>
				<% end %> 
				<div class="prawdziwa-historia">
					<div class="tytul"><%= t "real_story.title" %></div>
					<p><%= raw t "real_story.description" %></p>
				</div>
				<div class="aktualnosci">
					<div class="tytul"><%= t "news.title" %></div>
					<ul>
						<% i = 0 %>
						<% unless I18n.locale.to_s == "pl" %>
							<% @news = @english_news %>
						<% end %>
						<% @news.order('date DESC').each do |news| %>
							<% if i<4 %>
							<% if news.text_with_link != nil %>
								<%if news.date.to_i <= DateTime.now.to_i %>

									<li><%= news.text_with_link.html_safe %></li>
									<% i+=1 %>
								<% end %>
							<% end %>
							<% end %>
						<% end %>
					</ul>
				</div>
				<a class="button" data-slide="2" title=""></a>
			</div>
			<div class="slide" id="menu" data-slide="2" data-stellar-background-ratio="0.5">
				<div class="menu-napis" id="odstep">Menu</div>
				<div class="menu-1">
					<div class="odstep">
						<% unless I18n.locale.to_s == "pl" %>
							<% @burgers = @english_burgers %>
						<% end %>
						<% how_many_burgers_in_first_column = 0 %>
						<% @burgers.order('created_at ASC').each do |burgers| %>
							<% if how_many_burgers_in_first_column < (@burgers.count / 2)+1 %>
								<p onClick="add_to_favourite_burger('<%=burgers.name%>');window.location.reload();">
								<%= "<font color='e38e55'>&#10025;".html_safe if cookies["fav_"+burgers.name.tr(",", "")].to_i==1 %>
								<%= burgers.name %> (<%= burgers.price %>zł)</p>
								<%= "</font>".html_safe if cookies["fav_"+burgers.name.tr(",", "")].to_i==1 %>
								<ul class='star-rating' id="star-rating-1">
									<li class="current-rating" id="current-rating" style="width:<%= burgers.average*25 %>px"></li>
									<% unless cookies["_barnburger_session"].to_s == "" %>
										<%= form_for burgers do |f|  %>
											<li><%= f.submit "1", class: "one-star", name: "one_star" %></li>
											<li><%= f.submit "2", class: "two-star", name: "two_star" %></li>
											<li><%= f.submit "3", class: "three-star", name: "three_star" %></li>
											<li><%= f.submit "4", class: "four-star", name: "four_star" %></li>
											<li><%= f.submit "5", class: "five-star", name: "five_star" %></li>
										<% end %>
									<% end %>
								</ul>
								<%= burgers.composition %>
								<% how_many_burgers_in_first_column += 1 %>
							<% end %>
						<% end %>
					</div>
				</div>
				<div class="menu-2">
					<div class="odstep">
						<% unless I18n.locale.to_s == "pl" %>
							<% @burgers = @english_burgers %>
						<% end %>
						<% how_many_burgers_in_second_column = 0 %>
						<% @burgers.order('created_at ASC').each do |burgers| %>
							<% if how_many_burgers_in_first_column <= how_many_burgers_in_second_column %>
								<p onClick="add_to_favourite_burger('<%=burgers.name%>');window.location.reload();">
								<%= "<font color='e38e55'>&#10025;".html_safe if cookies["fav_"+burgers.name.tr(",", "")].to_i==1 %>
								<%= burgers.name %> (<%= burgers.price %>zł)</p>
								<%= "</font>".html_safe if cookies["fav_"+burgers.name.tr(",", "")].to_i==1 %>
								<ul class='star-rating' id="star-rating-1">
									<li class="current-rating" id="current-rating" style="width:<%= burgers.average*25 %>px"></li>
									<% unless cookies["_barnburger_session"].to_s == "" %>
										<%= form_for burgers do |f|  %>
											<li><%= f.submit "1", class: "one-star", name: "one_star" %></li>
											<li><%= f.submit "2", class: "two-star", name: "two_star" %></li>
											<li><%= f.submit "3", class: "three-star", name: "three_star" %></li>
											<li><%= f.submit "4", class: "four-star", name: "four_star" %></li>
											<li><%= f.submit "5", class: "five-star", name: "five_star" %></li>
										<% end %>
									<% end %>
								</ul>
								<%= burgers.composition %>
							<% end %>
							<% how_many_burgers_in_second_column += 1 %>
						<% end %>
					</div>
				</div>
				<% i = 0 %>
				<% unless I18n.locale.to_s == "pl" %>
						<% @limited_burgers = @english_limited_burgers %>
				<% end %>
				<% @limited_burgers.order('date DESC').each do |limited_burger| %>
					<% if i == 0 %>
						<% if limited_burger.date.to_i <= DateTime.now.to_i %>
							<div class="sezonowe-napis">
								<%= t "limited.title" %>
								<% if I18n.locale.to_s == "pl" %>
									<div class="sezonowe-napis data">od <%= limited_burger.date_on_website.strftime("%e") %>
									<% @month = limited_burger.date_on_website.strftime("%m") %>
									<% if @month == "01" %>Stycznia
									<% elsif @month == "02" %>Lutego
									<% elsif @month == "03" %>Marca
									<% elsif @month == "04" %>Kwietnia
									<% elsif @month == "05" %>Maja
									<% elsif @month == "06" %>Czerwca
									<% elsif @month == "07" %>Lipca
									<% elsif @month == "08" %>Sierpnia
									<% elsif @month == "09" %>Września
									<% elsif @month == "10" %>Października
									<% elsif @month == "11" %>Listopada
									<% elsif @month == "12" %>Grudnia
									<% end %>
									</div>
								<% else %>

									<div class="sezonowe-napis data">from 
									<% @day = limited_burger.date_on_website.strftime("%e") %>
									<% case @day %>
									<% when 1 %>
										<%= @day+"st" %>
									<% when 2 %>
										<%= @day+"nd" %>
									<% when 3 %>
										<%= @day+"rd" %>
									<% else %>
										<%= @day+"th" %>
									<% end %>
									<% @month = limited_burger.date_on_website.strftime("%m") %>
									<% if @month == "01" %>January
									<% elsif @month == "02" %>February
									<% elsif @month == "03" %>March
									<% elsif @month == "04" %>April
									<% elsif @month == "05" %>May
									<% elsif @month == "06" %>June
									<% elsif @month == "07" %>July
									<% elsif @month == "08" %>August
									<% elsif @month == "09" %>September
									<% elsif @month == "10" %>October
									<% elsif @month == "11" %>November
									<% elsif @month == "12" %>December
									<% end %>
									</div>
								<% end %>
							</div>
							<div class="menu-1b">
								<div class="ostep">	
									<p onClick="add_to_favourite_burger('<%=limited_burger.name1%>');window.location.reload();">
									<%= "<font color='e38e55'>&#10025; ".html_safe if cookies["fav_"+limited_burger.name1.tr(",", "")].to_i==1 %>
									<%= limited_burger.name1 %> (<%= limited_burger.price1 %>zł)</p>
									<%= "</font>".html_safe if cookies["fav_"+limited_burger.name1.tr(",", "")].to_i==1 %>
									<ul class='star-rating' id="star-rating-1">
										<% @limited_burgers_from_burger.each do |limited| %>
											<% if limited.name == limited_burger.name1 %>
												<li class="current-rating" id="current-rating" style="width:<%= limited.average*25 %>px"></li>
												<% unless cookies["_barnburger_session"].to_s == "" %>
													<%= form_for limited do |f|  %>
														<li><%= f.submit "1", class: "one-star", name: "one_star" %></li>
														<li><%= f.submit "2", class: "two-star", name: "two_star" %></li>
														<li><%= f.submit "3", class: "three-star", name: "three_star" %></li>
														<li><%= f.submit "4", class: "four-star", name: "four_star" %></li>
														<li><%= f.submit "5", class: "five-star", name: "five_star" %></li>
													<% end %>
												<% end %>
											<% end %>
										<% end %>
									</ul>
									<%= limited_burger.composition1 %>
								</div>
							</div>
							<div class="menu-2b">
								<div class="odstep">
									<p onClick="add_to_favourite_burger('<%=limited_burger.name2%>');window.location.reload();">
									<%= "<font color='e38e55'>&#10025;".html_safe if cookies["fav_"+limited_burger.name2.tr(",", "")].to_i==1 %>
									<%= limited_burger.name2 %> (<%= limited_burger.price2 %>zł)</p>
									<%= "</font>".html_safe if cookies["fav_"+limited_burger.name2.tr(",", "")].to_i==1 %>
									<ul class='star-rating' id="star-rating-1">
										<% @limited_burgers_from_burger.each do |limited| %>
											<% if limited.name == limited_burger.name2 %>
												<li class="current-rating" id="current-rating" style="width:<%= limited.average*25 %>px"></li>
												<% unless cookies["_barnburger_session"].to_s == "" %>
													<%= form_for limited do |f|  %>
														<li><%= f.submit "1", class: "one-star", name: "one_star" %></li>
														<li><%= f.submit "2", class: "two-star", name: "two_star" %></li>
														<li><%= f.submit "3", class: "three-star", name: "three_star" %></li>
														<li><%= f.submit "4", class: "four-star", name: "four_star" %></li>
														<li><%= f.submit "5", class: "five-star", name: "five_star" %></li>
													<% end %>
												<% end %>
											<% end %>
										<% end %>
									</ul>									
									<%= limited_burger.composition2 %>
								</div>
							</div>
							<% i += 1 %>
						<% end %>
					<% end %>
				<% end %>
				</div>
			</div>
			<div class="slide" id="galeria" data-slide="3" data-stellar-background-ratio="0.5">
				<div class="galeria-napis"><%= t "gallery.title" %></div>
				<div class="galeria-1">
					<div class="tytul"><%= t "gallery.menu" %></div>
					<a href="/assets/slide3/menu/01.jpg" data-lightbox="menu">
						<div id="zdjecia1">
							<img class="active" src="/assets/slide3/menu/min/01.jpg" alt="">
							<img src="/assets/slide3/menu/min/02.jpg" alt="">
							<img src="/assets/slide3/menu/min/03.jpg" alt="">
						</div>
					</a>
					<a href="/assets/slide3/menu/02.jpg" data-lightbox="menu"></a>
					<a href="/assets/slide3/menu/03.jpg" data-lightbox="menu"></a>
					<a href="/assets/slide3/menu/04.jpg" data-lightbox="menu"></a>
					<a href="/assets/slide3/menu/05.jpg" data-lightbox="menu"></a>
					<a href="/assets/slide3/menu/06.jpg" data-lightbox="menu"></a>
					<a href="/assets/slide3/menu/07.jpg" data-lightbox="menu"></a>
					<a href="/assets/slide3/menu/08.jpg" data-lightbox="menu"></a>
					<a href="/assets/slide3/menu/09.jpg" data-lightbox="menu"></a>
					<a href="/assets/slide3/menu/10.jpg" data-lightbox="menu"></a>
					<a href="/assets/slide3/menu/11.jpg" data-lightbox="menu"></a>
					<a href="/assets/slide3/menu/12.jpg" data-lightbox="menu"></a>
					<a href="/assets/slide3/menu/13.jpg" data-lightbox="menu"></a>
					<a href="/assets/slide3/menu/14.jpg" data-lightbox="menu"></a>
				</div>
				<div class="galeria-2">
					<div class="tytul"><%= t "gallery.place" %></div>
					<a href="/assets/slide3/lokal/01.jpg" data-lightbox="lokal">
						<div id="zdjecia2">
							<img class="active" src="/assets/slide3/lokal/min/01.jpg" alt="">
							<img src="/assets/slide3/lokal/min/02.jpg" alt="">
							<img src="/assets/slide3/lokal/min/03.jpg" alt="">
						</div>
					</a>
					<a href="/assets/slide3/lokal/02.jpg" data-lightbox="lokal"></a>
					<a href="/assets/slide3/lokal/03.jpg" data-lightbox="lokal"></a>
					<a href="/assets/slide3/lokal/04.jpg" data-lightbox="lokal"></a>
					<a href="/assets/slide3/lokal/05.jpg" data-lightbox="lokal"></a>
					<a href="/assets/slide3/lokal/06.jpg" data-lightbox="lokal"></a>
					<a href="/assets/slide3/lokal/07.jpg" data-lightbox="lokal"></a>
					<a href="/assets/slide3/lokal/08.jpg" data-lightbox="lokal"></a>
					<a href="/assets/slide3/lokal/09.jpg" data-lightbox="lokal"></a>
				</div>
				<div class="galeria-3">
					<div class="tytul"><%= t "gallery.championships" %></div>
					<a href="/assets/slide3/mistrzostwa/01.jpg" data-lightbox="mistrzostwa">
						<div id="zdjecia3">
							<img class="active" src="/assets/slide3/mistrzostwa/min/01.jpg" alt="">
							<img src="/assets/slide3/mistrzostwa/min/02.jpg" alt="">
							<img src="/assets/slide3/mistrzostwa/min/03.jpg" alt="">
						</div>
					</a>
					<a href="/assets/slide3/mistrzostwa/02.jpg" data-lightbox="mistrzostwa"></a>
					<a href="/assets/slide3/mistrzostwa/03.jpg" data-lightbox="mistrzostwa"></a>
					<a href="/assets/slide3/mistrzostwa/04.jpg" data-lightbox="mistrzostwa"></a>
					<a href="/assets/slide3/mistrzostwa/05.jpg" data-lightbox="mistrzostwa"></a>
					<a href="/assets/slide3/mistrzostwa/06.jpg" data-lightbox="mistrzostwa"></a>
					<a href="/assets/slide3/mistrzostwa/07.jpg" data-lightbox="mistrzostwa"></a>
					<a href="/assets/slide3/mistrzostwa/08.jpg" data-lightbox="mistrzostwa"></a>
					<a href="/assets/slide3/mistrzostwa/09.jpg" data-lightbox="mistrzostwa"></a>
					<a href="/assets/slide3/mistrzostwa/10.jpg" data-lightbox="mistrzostwa"></a>
					<a href="/assets/slide3/mistrzostwa/11.jpg" data-lightbox="mistrzostwa"></a>
					<a href="/assets/slide3/mistrzostwa/12.jpg" data-lightbox="mistrzostwa"></a>
					<a href="/assets/slide3/mistrzostwa/13.jpg" data-lightbox="mistrzostwa"></a>
					<a href="/assets/slide3/mistrzostwa/14.jpg" data-lightbox="mistrzostwa"></a>
					<a href="/assets/slide3/mistrzostwa/15.jpg" data-lightbox="mistrzostwa"></a>
					<a href="/assets/slide3/mistrzostwa/16.jpg" data-lightbox="mistrzostwa"></a>
					<a href="/assets/slide3/mistrzostwa/17.jpg" data-lightbox="mistrzostwa"></a>
					<a href="/assets/slide3/mistrzostwa/18.jpg" data-lightbox="mistrzostwa"></a>
					<a href="/assets/slide3/mistrzostwa/19.jpg" data-lightbox="mistrzostwa"></a>
					<a href="/assets/slide3/mistrzostwa/20.jpg" data-lightbox="mistrzostwa"></a>
					<a href="/assets/slide3/mistrzostwa/21.jpg" data-lightbox="mistrzostwa"></a>
					<a href="/assets/slide3/mistrzostwa/22.jpg" data-lightbox="mistrzostwa"></a>
					<a href="/assets/slide3/mistrzostwa/23.jpg" data-lightbox="mistrzostwa"></a>
					<a href="/assets/slide3/mistrzostwa/24.jpg" data-lightbox="mistrzostwa"></a>
					<a href="/assets/slide3/mistrzostwa/25.jpg" data-lightbox="mistrzostwa"></a>
					<a href="/assets/slide3/mistrzostwa/26.jpg" data-lightbox="mistrzostwa"></a>
					<a href="/assets/slide3/mistrzostwa/27.jpg" data-lightbox="mistrzostwa"></a>
					<a href="/assets/slide3/mistrzostwa/28.jpg" data-lightbox="mistrzostwa"></a>
				</div>
			</div>
			<div class="slide" id="pasibrzuch" data-slide="4" data-stellar-background-ratio="0.5">
				<div class="pasibrzuch-napis"><%= t "pasibrzuch.title" %></div>
				<div class="pasibrzuch-text"><%= raw t "pasibrzuch.text" %></div>
			</div>
			<div class="slide" id="kontakt" data-slide="5" data-stellar-background-ratio="0.5">
				<div class="kontakt-napis"><%= t "contact.title" %></div>
				<div class="kontakt-text">
					<p><%= t "contact.opening_hours.title" %></p>
					<%= t "contact.opening_hours.mon_fri" %>: 12<sup>00</sup>-22<sup>00</sup> <span>(<%= t "contact.opening_hours.order_up_to" %> 21:30)</span>
					<br><%= t "contact.opening_hours.sat" %>: 13<sup>00</sup>-22<sup>00</sup> <span>(<%= t "contact.opening_hours.order_up_to" %> 21:30)</span>
					<br><%= t "contact.opening_hours.sun" %>: 13<sup>00</sup>-21<sup>00</sup> <span>(<%= t "contact.opening_hours.order_up_to" %> 20:30)</span>
					<p><%= t "address.title" %></p>
					<%= t "address.description" %>
					<br>Tel.: <a href="tel:888222750">888 222 750</a>
					<br><a href="mailto:barnburger@barnburger.pl">barnburger@barnburger.pl</a>
					<br>
					<div class="fb-like" data-href="http://www.facebook.com/barnburger" data-send="true" data-width="400" data-show-faces="true" data-font="arial" data-colorscheme="dark"></div>
				</div>
				<div class="kontakt-mapka">
					<p><%= t "map.title" %></p>
				    <div id="mapa-box" style="float:left;width:100%;height:50vh;"></div>
					<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
					<script type="text/javascript"> 
					initialize();
					  function initialize() {
					  var myLatlng = new google.maps.LatLng(52.232710, 21.011438);
					  var mapOptions = {
					    zoom: 16,
					    center: myLatlng,
					    scrollwheel:true,
					    styles: [{"stylers":[{"hue":"#ff8800"},{"gamma":0.4}]}],
					    mapTypeId: google.maps.MapTypeId.ROADMAP
					  }
					 
					  var map = new google.maps.Map(document.getElementById('mapa-box'), mapOptions);
					 
					  var infowindow = new google.maps.InfoWindow({
					      content: '<div style="width:170px; height:70px">Barn Burger<br>ul. Złota 9<br>Warszawa<br>tel.: 888 222 750<br><a href="http://facebook.com/BarnBurger" target="_blank">facebook.com/BarnBurger</a></div>'
					  });
					  var image = 'http://barnburger.pl/img/mapslogo.png';
					  var marker = new google.maps.Marker({
					      position: myLatlng,
					      map: map,
					      icon: image,
					      title: 'Barn Burger'
					  });
					  google.maps.event.addListener(marker, 'click', function() {
					    infowindow.open(map,marker);
					  });
					}
					 
					google.maps.event.addDomListener(window, 'load', initialize);
					</script>
				</div>
				<a class="button last" data-slide="1" title=""></a>
			</div>
		</div>
		<a href="http://ideasfactory.pl" target="_blank" id="ideasfactory">© IdeasFactory.pl</a>
	</body>
</html>