<style type="text/css">
  body{background-color:#231f20;font-family:Tahoma;}.napis{text-align:center;margin-top:0px;margin-bottom:50px;font-size:30px;color:#ccc;}.napis span{margin-top:15px;color:#aaa;display:block;font-size:16px;}a{margin-top:15px;color:#aaa;display:block;font-size:16px;text-decoration:none;transition:all 0.5s ease;}a:hover{color:#000;}.form{text-align:center;font-size:16px;color:#fff;}.form input{font-size:14px;margin-bottom:15px;margin-top:5px;background-color:#333;color:#ccc;}.imie{width:400px;}.form input:last-child{margin-top:10px;height:30px;background-color:#333;color:#ccc;margin-bottom:0px;}.logo{position:fixed;left:0px;bottom:0px;}.logo img{width:30%;opacity:0.5;transition:all 0.5s ease;}.logo img:hover{opacity:1;}#ideasfactory{position:fixed;font-size:16px;right:2vh;bottom:2vh;z-index:2;font-family:"Trebuchet MS";-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:alpha(opacity=70);opacity:0.7;text-shadow:0 0 5px black,0 0 10px black;color:#e38e55;text-decoration:none;}#ideasfactory:before{content:"Fabryka stron internetowych ";position:relative;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:0;top:-30px;color:#FFEC5F;-webkit-transition:all .5s;transition:all 0.5s;}#ideasfactory:hover:before{opacity:1;top:0px;}#ideasfactory:hover{color:#FFEC5F;opacity:1;}
</style>
    <div class="form">
<%= form_for @news do |f|  %>
 
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@news.errors.count, "error") %> prohibited
        this news from being saved:
      </h2>
      <ul>
        <% @news.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
        <%= f.label :text, "Tekst"%><br>
    
    <%= f.text_area(:text, placeholder: News.last.text, size: '50x10') %>
  </p>
 
  <p>
    <%= f.label :date, "Data pojawienia aktualności"%><br>
<!--     <%= f.datetime_select :date, start_hour: DateTime.now.hour, start_day: DateTime.now.day, start_minute: DateTime.now.minute %> -->
      <%= f.datetime_select(:date, :default => { :year => DateTime.now.year, :month => DateTime.now.month, :day => DateTime.now.day, :hour => DateTime.now.hour, :minute => DateTime.now.minute }, :use_month_names => ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierpień', 'Wrzesień', 'Październik', 'Listopad','Grudzień']) %>
  </p>
   <p>
    <%= f.label :link, "Link (opcjonalnie)" %><br>
    <%= f.text_field :link, placeholder: "http://facebook.com/BarnBurger", size: 40 %>
  </p>
 
   <p>
    <%= f.label :name_of_link, "Nazwa linku (opcjonalnie)"%><br>
    <%= f.text_field :name_of_link, placeholder: "facebook", size: 40 %>
  </p>
 
  <p>
    <%= f.submit "Wyślij", style: "width: 200px; height: 50px; margin-top: 50px; margin-bottom: 30px;"%>
  </p>
   <h2>Tagi do tekstu</h2>
  <h3>#Menu - wpisuje słówko menu z linkiem do menu</h3>
  <h3>#Link - wpisuje link</h3>

<% end %>
 
</form>
</div>
<%= link_to 'Wróć', news_index_path %>
