<% content_for :head do %>
  <%= stylesheet_link_tag "news/index.css" %>
<% end %>
<table>

    <tbody>

    <%= link_to "Nowa aktualność", new_news_path, class: "link" %>

    <div class="napis">
        Lista aktualności
    </div>
        <% @news.order('date DESC').each do |news| %>
            <tr>
            	<% if news.text_with_link != nil %>
                <td><%= news.text_with_link.html_safe %></td>
                <td><%= news.date %></td>
                
                <td><%= link_to "Usuń", news_path(news), method: :delete, data: {confirm: "Jesteś pewny" }, class: "btn btn-default" %></td>
                <td><%= link_to "Edytuj", edit_news_path(news), class: "btn btn-default" %></td>
                <% end %>
            </tr>
        <% end %>
        
    </tbody>
</table>
