 <%= javascript_include_tag "rails" %>
<table>
    <thead>
        <th>Name</th>
    </thead>
    <tbody>
<% @news.each do |news| %>
    <tr>
        <td><%= news.text %></td>
        <td><%= news.date %></td>
        <td><%= link_to "Usuń", news_path(news), method: :delete, data: {confirm: "Jesteś pewny" }, class: "btn btn-default" %></td>
        <td><%= link_to "Edytuj", edit_news_path(news), class: "btn btn-default" %></td>
    </tr>
<% end %>
    </tbody>
</table>