 <%= javascript_include_tag "rails" %>
<table>
    <thead>
        <th>Nazwa</th>
    </thead>
    <tbody>
<% @news.order('date DESC').each do |news| %>
    <tr>
        <td><%= news.text_with_link.html_safe %></td>
        <td><%= news.date %></td>
        <td><%= link_to "Usuń", news_path(news), method: :delete, data: {confirm: "Jesteś pewny" }, class: "btn btn-default" %></td>
        <td><%= link_to "Edytuj", edit_news_path(news), class: "btn btn-default" %></td>
    </tr>
<% end %>
<%= link_to "Nowa aktualność", new_news_path %>
    </tbody>
</table>