<!DOCTYPE html>
<html>
<head>
  <title>Panel zarządzania - Barn Burger</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "news/reset", "news/style" %>
  <style type="text/css">
  body{background-color:#231f20;font-family:Tahoma;}.napis{text-align:center;margin-top:0px;margin-bottom:50px;font-size:30px;color:#ccc;}.napis span{margin-top:15px;color:#aaa;display:block;font-size:16px;}a{margin-top:15px;color:#aaa;display:block;font-size:16px;text-decoration:none;transition:all 0.5s ease;}a:hover{color:#000;}.form{text-align:center;font-size:16px;color:#fff;}.form input{font-size:14px;margin-bottom:15px;margin-top:5px;background-color:#333;color:#ccc;}.imie{width:400px;}.form input:last-child{margin-top:10px;height:30px;background-color:#333;color:#ccc;margin-bottom:0px;}.logo{position:fixed;left:0px;bottom:0px;}.logo img{width:30%;opacity:0.5;transition:all 0.5s ease;}.logo img:hover{opacity:1;}#ideasfactory{position:fixed;font-size:16px;right:2vh;bottom:2vh;z-index:2;font-family:"Trebuchet MS";-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:alpha(opacity=70);opacity:0.7;text-shadow:0 0 5px black,0 0 10px black;color:#e38e55;text-decoration:none;}#ideasfactory:before{content:"Fabryka stron internetowych ";position:relative;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:0;top:-30px;color:#FFEC5F;-webkit-transition:all .5s;transition:all 0.5s;}#ideasfactory:hover:before{opacity:1;top:0px;}#ideasfactory:hover{color:#FFEC5F;opacity:1;}
</style>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>

<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</body>
</html>