<!DOCTYPE html>
<html>
<head>
  <title>Panel zarządzania - Barn Burger</title>
  <%= csrf_meta_tags %>
  
<%= stylesheet_link_tag "news/reset", "news/index" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
     <style>
     body {text-align:center}
   </style> 
</head>
<body>
<div class="form">
<h2>Zaloguj</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <p>
    <%= f.label :email, style: "color: #ccc"%><br />
    <%= f.email_field :email, autofocus: true %>
  </p>

  <p>
    <%= f.label :password, "Hasło", style: "color: #ccc"%><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </p>

  <% if devise_mapping.rememberable? -%>
    <p>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "Zapamiętaj mnie", style: "color: #ccc" %>
    </p>
  <% end -%>

  <p>
    <%= f.submit "Log in" %>
  </p>
<% end %>

<!-- <%= render "devise/shared/links" %> -->
</div>
</body>
</html>