
<!DOCTYPE html>
<html>
<head>
  <title>Panel zarządzania - Barn Burger</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "news/index" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
<%= link_to('Wyloguj', destroy_admin_session_path, :method => :delete,  class: "logout")%>  
<% unless flash.blank? %>
    
    <h2><% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    </h2>
<% end %> 
<%= yield %>
<a href="http://ideasfactory.pl" target="_blank" id="ideasfactory">© IdeasFactory.pl</a>
</body>
</html>
