<!DOCTYPE html>
<html>
<head>
  <title>Panel zarządzania - Barn Burger</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "news/reset", "news/style" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>

<% unless flash.blank? %>
    
    <h2><% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    </h2>
<% end %> 
<a href="http://barnburger.pl"><div class="logo"><img src="../img/logo.png" alt="logo"></div></a>
<%= yield %>
<a href="http://ideasfactory.pl" target="_blank" id="ideasfactory">© IdeasFactory.pl</a>
</body>
</html>
